/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Base Styles
- Typography
- Links
- Buttons
- Header
- Nav
- Section/Content
- Footer
- Media Queries
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  /* Base Colors */
  --main-bg-color: #000;
  --second-bg-color: #FFF;
  --third-bg-color: #3399CC;
  --main-text-color: #555555;
  --second-text-color: #FFF;
  --accent-text-color: #3399CC;
  /* Base Font Sizes */
  --text-xxsmall: 16px;
  --text-xsmall: 24px;
  --text-small: 32px;
  --text-medium: 48px;
  --text-large: 64px;
  --text-xlarge: 80px;

  /* --second-bg-color: #242424; */
  /* --third-bg-color: #1A1A1A; */
  /* --main-text-color: #DFDFDF; */
  /* --third-text-color: #7D7D7D; */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-small);
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
}
h4 {
  font-size: 24px;
  font-weight: 300;
}
p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: .04em;
}


/* Text Color Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grey1 {
  color: #616161;
}
.grey2 {
  color: #616161;
}
.accent {
  color: #3399CC;
}
.white {
  color: #fff;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a.button {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid;
  padding: 10px 15px;
  text-transform: uppercase;
  margin-top: 30px;
  transition: 0.3s;
}
a.button.accent {
  border-color: #3399CC;
  background: rgba(51,153, 204, 0.25);
}
a.button.white {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.25);
}
.learn_more .fa {
  font-size: var(--text-xsmall);
}
a.button.accent:hover {
  background-color: #3399CC;
  color: white;
  transition: 0.3s;
}
a.button.accent:active {
  background-color: #3399CC;
  color: white;
}
a.button.white:hover {
  background-color: white;
  color: #3399CC;
  transition: 0.3s;
}
a.button.white:active {
  background-color: white;
  color: #3399CC;
}
.stat-button {
  margin-top: 0px !important;
  position: relative;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  height: 100vh;
  /* background: rgb(255,255,255); */
  background: linear-gradient(180deg, rgba(51,153,204,0.8) 0%, rgba(0,0,0,0.8) 100%);
}
header .content {
  bottom: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 25%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

#atg-hero {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  text-align: center;
}
.phrase {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translateX(-50%) translateY(-30%);
  list-style: none;
  border-bottom: 0;

  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
/* .hero-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
} */
#hero1 {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  list-style: none;
  border-bottom: 0;
}
#hero2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}
#hero3 {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  list-style: none;
  border-bottom: 0;
}
.hero-text li {
  display: block;
  float: left;
  font-size: 2em;
  letter-spacing: .03em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.hero-text.hidden li.spaced {
  padding-left: 0;
}
.hero-text li.spaced {
  padding-left: 0.5em;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
.hero-text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.banner {
  z-index: -999;
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: url(../images/header-bg.jpg) center no-repeat;
  background-size: cover; */
}
.banner .overlay-1 {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  background: -webkit-gradient(top, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  position: absolute;
  height: 100%;
  width: 100%;
}
.banner .overlay-2 {
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.08) 17%, rgba(0, 0, 0, 0.07) 25%, rgba(0, 0, 0, 0.34) 58%, rgba(0, 0, 0, 0.6) 83%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

.scroll-downs {
  position: absolute;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  right: 16px;
  bottom: 0;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  float: right;
  position: fixed;
  height: 80px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 40px;
  z-index: 4;
}
nav .logo {
  float: left;
  width: 215px;
  margin-top: -24px;
  background: url(../images/atg-logo.png) center no-repeat;
  background-size: cover;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  color: var(--second-text-color);
  margin-left: 20px;
}
nav ul li a {
  color: var(--second-text-color);
  display: block;
  clear: right;
}
nav ul li a:hover {
  color: var(--accent-text-color);
  transition: all 0.3s;
}
/* Mobile Nav Hamburger */
label {
  margin: 0;
  margin-top: -24px;
  font-size: 24px;
  color: var(--second-text-color);
  display: none;
  width: 24px;
  float: right;
  z-index: 5;
}
#toggle {
  display: none;
}
#header-mobbar {
  background: #000000;
  position: fixed;
  height: 100px;
  width: 100%;
  top: -40px;
  z-index: -2;
  display: none;
}
#nav-bg {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  position: sticky;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 2;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#interim {
  height: 25vh;
}

#intro {
  height: calc(100vh - 100px);
  color: var(--second-text-color);
  position: relative;
}
#intro .container {
  top: 65%;
  transform: translateY(-65%);
}
#intro p {
  font-size: 40px;
  color: white;
  font-weight: 700;
}

#company,
#culture {
  height: calc(100vh - 100px);
  max-height: 1080px;
}
#company .container,
#culture .container {
  top: 50%;
  transform: translateY(-50%);
}
#company {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color: var(--second-text-color);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 67px 473px #FFF , 1307px 551px #FFF , 513px 1862px #FFF , 1804px 533px #FFF , 638px 1809px #FFF , 1831px 1896px #FFF , 141px 1867px #FFF , 991px 110px #FFF , 1730px 1865px #FFF , 292px 618px #FFF , 363px 1421px #FFF , 1050px 837px #FFF , 83px 1201px #FFF , 1858px 1560px #FFF , 835px 214px #FFF , 684px 221px #FFF , 1956px 311px #FFF , 985px 1113px #FFF , 1934px 919px #FFF , 1546px 1053px #FFF , 1471px 394px #FFF , 934px 1619px #FFF , 134px 103px #FFF , 919px 548px #FFF , 1915px 1824px #FFF , 180px 1607px #FFF , 630px 191px #FFF , 1279px 154px #FFF , 1621px 426px #FFF , 356px 1449px #FFF , 1838px 359px #FFF , 876px 759px #FFF , 1683px 1700px #FFF , 1322px 484px #FFF , 642px 786px #FFF , 1031px 928px #FFF , 1706px 823px #FFF , 1143px 864px #FFF , 1801px 178px #FFF , 127px 607px #FFF , 1735px 1274px #FFF , 666px 1071px #FFF , 1794px 1489px #FFF , 554px 516px #FFF , 769px 1566px #FFF , 1197px 1556px #FFF , 1666px 375px #FFF , 734px 1498px #FFF , 441px 551px #FFF , 506px 311px #FFF , 1215px 1692px #FFF , 1536px 259px #FFF , 1282px 692px #FFF , 10px 643px #FFF , 1719px 1166px #FFF , 1985px 1747px #FFF , 1500px 61px #FFF , 1879px 996px #FFF , 1408px 691px #FFF , 1134px 1973px #FFF , 627px 1212px #FFF , 1757px 1492px #FFF , 1306px 848px #FFF , 723px 513px #FFF , 900px 855px #FFF , 1524px 817px #FFF , 77px 1860px #FFF , 1217px 303px #FFF , 1807px 492px #FFF , 1930px 1622px #FFF , 1314px 1636px #FFF , 1135px 158px #FFF , 1077px 818px #FFF , 474px 1443px #FFF , 85px 1470px #FFF , 1343px 1412px #FFF , 1396px 143px #FFF , 85px 1771px #FFF , 759px 211px #FFF , 948px 340px #FFF , 1618px 1000px #FFF , 954px 584px #FFF , 1263px 1539px #FFF , 962px 1458px #FFF , 1788px 925px #FFF , 1152px 93px #FFF , 393px 939px #FFF , 1711px 1620px #FFF , 1848px 822px #FFF , 1024px 1867px #FFF , 1437px 1034px #FFF , 245px 1369px #FFF , 1614px 1173px #FFF , 838px 507px #FFF , 1773px 1470px #FFF , 1762px 1339px #FFF , 1234px 912px #FFF , 371px 302px #FFF , 1926px 636px #FFF , 1442px 416px #FFF , 1302px 581px #FFF , 1324px 171px #FFF , 1335px 908px #FFF , 887px 1799px #FFF , 41px 60px #FFF , 1693px 1852px #FFF , 1172px 1882px #FFF , 198px 1317px #FFF , 478px 84px #FFF , 774px 481px #FFF , 275px 636px #FFF , 391px 1790px #FFF , 374px 659px #FFF , 1178px 1031px #FFF , 919px 270px #FFF , 81px 275px #FFF , 775px 1640px #FFF , 682px 733px #FFF , 623px 330px #FFF , 1299px 1893px #FFF , 587px 243px #FFF , 934px 1605px #FFF , 1414px 794px #FFF , 1883px 1434px #FFF , 22px 694px #FFF , 1263px 577px #FFF , 1989px 1771px #FFF , 448px 356px #FFF , 1268px 772px #FFF , 1752px 1904px #FFF , 71px 1259px #FFF , 280px 1212px #FFF , 433px 1754px #FFF , 803px 1732px #FFF , 1730px 136px #FFF , 1183px 854px #FFF , 406px 1899px #FFF , 1110px 37px #FFF , 795px 1989px #FFF , 913px 267px #FFF , 1479px 652px #FFF , 1105px 919px #FFF , 1211px 1875px #FFF , 1763px 458px #FFF , 1528px 38px #FFF , 59px 471px #FFF , 1904px 402px #FFF , 927px 545px #FFF , 388px 828px #FFF , 942px 1228px #FFF , 1995px 1422px #FFF , 769px 1525px #FFF , 1585px 1173px #FFF , 562px 1386px #FFF , 606px 705px #FFF , 1036px 1907px #FFF , 1123px 1404px #FFF , 944px 537px #FFF , 1003px 1423px #FFF , 291px 362px #FFF , 432px 626px #FFF , 1011px 1578px #FFF , 788px 1557px #FFF , 883px 1422px #FFF , 941px 1489px #FFF , 1796px 573px #FFF , 1086px 585px #FFF , 979px 1305px #FFF , 1670px 1710px #FFF , 407px 1797px #FFF , 602px 676px #FFF , 1847px 1802px #FFF , 12px 1280px #FFF , 1999px 1721px #FFF , 1626px 1903px #FFF , 954px 1194px #FFF , 914px 1285px #FFF , 1181px 1034px #FFF , 1406px 1450px #FFF , 1901px 745px #FFF , 1937px 1077px #FFF , 308px 822px #FFF , 1037px 805px #FFF , 1880px 816px #FFF , 1216px 1739px #FFF , 178px 1635px #FFF , 597px 777px #FFF , 1012px 241px #FFF , 505px 1288px #FFF , 143px 909px #FFF , 1719px 1480px #FFF , 1021px 657px #FFF , 1162px 1189px #FFF , 41px 1894px #FFF , 1764px 315px #FFF , 226px 1305px #FFF , 5px 1262px #FFF , 431px 483px #FFF , 971px 1086px #FFF , 1755px 308px #FFF , 387px 432px #FFF , 1544px 268px #FFF , 634px 1867px #FFF , 1406px 1571px #FFF , 56px 746px #FFF , 1998px 706px #FFF , 146px 22px #FFF , 173px 559px #FFF , 1875px 124px #FFF , 488px 762px #FFF , 903px 733px #FFF , 255px 1961px #FFF , 1622px 885px #FFF , 16px 547px #FFF , 127px 885px #FFF , 1697px 1424px #FFF , 1824px 394px #FFF , 402px 485px #FFF , 45px 1424px #FFF , 1528px 1698px #FFF , 1467px 776px #FFF , 796px 1909px #FFF , 363px 1733px #FFF , 1234px 1250px #FFF , 1205px 168px #FFF , 966px 1422px #FFF , 953px 802px #FFF , 1739px 84px #FFF , 1483px 553px #FFF , 76px 1169px #FFF , 759px 62px #FFF , 210px 773px #FFF , 1225px 1999px #FFF , 234px 911px #FFF , 1407px 1035px #FFF , 73px 50px #FFF , 991px 530px #FFF , 879px 35px #FFF , 283px 762px #FFF , 1797px 1745px #FFF , 1175px 1035px #FFF , 1981px 346px #FFF , 1px 236px #FFF , 95px 656px #FFF , 1211px 1588px #FFF , 178px 1597px #FFF , 89px 1851px #FFF , 1190px 1681px #FFF , 1177px 53px #FFF , 1386px 1858px #FFF , 952px 250px #FFF , 1917px 1770px #FFF , 569px 1575px #FFF , 1525px 1549px #FFF , 1252px 1851px #FFF , 282px 635px #FFF , 565px 198px #FFF , 277px 1819px #FFF , 1277px 1795px #FFF , 1262px 1902px #FFF , 132px 282px #FFF , 1279px 1297px #FFF , 1886px 1062px #FFF , 1634px 618px #FFF , 1819px 1659px #FFF , 1544px 1313px #FFF , 1018px 476px #FFF , 1520px 1427px #FFF , 1965px 1472px #FFF , 1922px 501px #FFF , 379px 1497px #FFF , 1462px 1301px #FFF , 421px 1560px #FFF , 69px 760px #FFF , 920px 379px #FFF , 1788px 1228px #FFF , 1355px 1317px #FFF , 1486px 1819px #FFF , 1680px 1632px #FFF , 1426px 962px #FFF , 1758px 44px #FFF , 1391px 360px #FFF , 237px 703px #FFF , 1912px 1174px #FFF , 940px 1464px #FFF , 1569px 1145px #FFF , 931px 793px #FFF , 37px 606px #FFF , 581px 116px #FFF , 144px 139px #FFF , 939px 904px #FFF , 1032px 629px #FFF , 227px 1587px #FFF , 1566px 1180px #FFF , 1565px 1553px #FFF , 979px 1402px #FFF , 1967px 631px #FFF , 773px 751px #FFF , 128px 1032px #FFF , 1436px 1399px #FFF , 596px 1521px #FFF , 1864px 929px #FFF , 1610px 1954px #FFF , 1557px 1246px #FFF , 890px 95px #FFF , 661px 387px #FFF , 1826px 1430px #FFF , 318px 1753px #FFF , 538px 752px #FFF , 233px 413px #FFF , 143px 1475px #FFF , 1813px 890px #FFF , 1154px 1028px #FFF , 10px 1793px #FFF , 1861px 1319px #FFF , 664px 499px #FFF , 1001px 299px #FFF , 314px 595px #FFF , 1311px 796px #FFF , 630px 1898px #FFF , 10px 1301px #FFF , 1521px 350px #FFF , 1559px 1770px #FFF , 522px 1176px #FFF , 846px 1250px #FFF , 398px 1018px #FFF , 1139px 775px #FFF , 6px 286px #FFF , 1623px 1053px #FFF , 1004px 543px #FFF , 1279px 986px #FFF , 1782px 279px #FFF , 137px 1302px #FFF , 312px 1464px #FFF , 517px 885px #FFF , 43px 1680px #FFF , 1044px 1017px #FFF , 869px 555px #FFF , 355px 419px #FFF , 1508px 1326px #FFF , 562px 1616px #FFF , 1520px 452px #FFF , 1748px 26px #FFF , 6px 570px #FFF , 1116px 1676px #FFF , 635px 1328px #FFF , 1639px 1465px #FFF , 1402px 841px #FFF , 208px 633px #FFF , 1600px 381px #FFF , 862px 663px #FFF , 199px 313px #FFF , 1252px 188px #FFF , 907px 1293px #FFF , 1510px 445px #FFF , 277px 921px #FFF , 1692px 109px #FFF , 1813px 1759px #FFF , 846px 29px #FFF , 163px 201px #FFF , 1266px 1459px #FFF , 329px 1388px #FFF , 321px 417px #FFF , 1585px 1119px #FFF , 1973px 977px #FFF , 1504px 6px #FFF , 869px 1848px #FFF , 1407px 570px #FFF , 1530px 1471px #FFF , 945px 209px #FFF , 335px 163px #FFF , 51px 1300px #FFF , 1085px 1207px #FFF , 905px 399px #FFF , 9px 378px #FFF , 1745px 1702px #FFF , 967px 1063px #FFF , 1590px 133px #FFF , 976px 1992px #FFF , 1152px 1805px #FFF , 299px 1501px #FFF , 72px 535px #FFF , 761px 1692px #FFF , 1182px 1982px #FFF , 1565px 187px #FFF , 1874px 1266px #FFF , 1501px 1703px #FFF , 1026px 1546px #FFF , 588px 1894px #FFF , 416px 1961px #FFF , 1589px 1045px #FFF , 697px 414px #FFF , 1328px 1533px #FFF , 1085px 342px #FFF , 1563px 682px #FFF , 1486px 1759px #FFF , 1265px 995px #FFF , 1613px 1035px #FFF , 588px 218px #FFF , 1890px 1115px #FFF , 406px 964px #FFF , 791px 1184px #FFF , 621px 55px #FFF , 490px 1243px #FFF , 1425px 706px #FFF , 1422px 1099px #FFF , 656px 1878px #FFF , 1417px 198px #FFF , 352px 1813px #FFF , 374px 411px #FFF , 1949px 1265px #FFF , 894px 695px #FFF , 20px 1109px #FFF , 1694px 1318px #FFF , 1909px 1964px #FFF , 1953px 569px #FFF , 574px 1713px #FFF , 1202px 128px #FFF , 1722px 219px #FFF , 126px 321px #FFF , 1291px 232px #FFF , 225px 1023px #FFF , 976px 190px #FFF , 1717px 8px #FFF , 1657px 628px #FFF , 1460px 1729px #FFF , 73px 220px #FFF , 1861px 67px #FFF , 290px 1511px #FFF , 1279px 834px #FFF , 580px 1529px #FFF , 527px 36px #FFF , 1013px 1275px #FFF , 1757px 1635px #FFF , 524px 1360px #FFF , 1807px 1005px #FFF , 329px 777px #FFF , 1882px 515px #FFF , 666px 40px #FFF , 1896px 1886px #FFF , 1328px 145px #FFF , 128px 910px #FFF , 1024px 1752px #FFF , 810px 171px #FFF , 434px 722px #FFF , 1998px 1116px #FFF , 673px 429px #FFF , 1704px 664px #FFF , 1388px 1995px #FFF , 1412px 909px #FFF , 1951px 1002px #FFF , 450px 194px #FFF , 897px 714px #FFF , 1527px 258px #FFF , 1499px 733px #FFF , 474px 664px #FFF , 929px 1540px #FFF , 1228px 1288px #FFF , 244px 683px #FFF , 1806px 1557px #FFF , 1860px 34px #FFF , 107px 1087px #FFF , 1957px 1692px #FFF , 1865px 1526px #FFF , 1423px 1803px #FFF , 857px 284px #FFF , 842px 1849px #FFF , 1302px 584px #FFF , 1350px 326px #FFF , 1855px 361px #FFF , 574px 1990px #FFF , 793px 422px #FFF , 1794px 1491px #FFF , 447px 165px #FFF , 661px 235px #FFF , 649px 292px #FFF , 1968px 250px #FFF , 1341px 1882px #FFF , 625px 1694px #FFF , 656px 821px #FFF , 601px 1317px #FFF , 1972px 1402px #FFF , 264px 778px #FFF , 1435px 572px #FFF , 7px 494px #FFF , 554px 891px #FFF , 1911px 1416px #FFF , 1573px 76px #FFF , 1635px 393px #FFF , 643px 393px #FFF , 102px 837px #FFF , 953px 1192px #FFF , 825px 239px #FFF , 1648px 1079px #FFF , 1074px 653px #FFF , 1754px 628px #FFF , 513px 1991px #FFF , 1690px 900px #FFF , 1711px 795px #FFF , 440px 290px #FFF , 1198px 1673px #FFF , 1169px 390px #FFF , 168px 1599px #FFF , 511px 306px #FFF , 1494px 1636px #FFF , 1321px 935px #FFF , 1769px 475px #FFF , 1948px 1205px #FFF , 1255px 1706px #FFF , 851px 1544px #FFF , 25px 1890px #FFF , 578px 883px #FFF , 452px 1609px #FFF , 866px 435px #FFF , 116px 1378px #FFF , 1569px 221px #FFF , 629px 141px #FFF , 666px 334px #FFF , 1339px 268px #FFF , 818px 318px #FFF , 1000px 1757px #FFF , 145px 320px #FFF , 888px 538px #FFF , 366px 1824px #FFF , 1724px 1880px #FFF , 1044px 1028px #FFF , 1407px 809px #FFF , 1061px 74px #FFF , 1779px 1845px #FFF , 1913px 1286px #FFF , 385px 1927px #FFF , 556px 74px #FFF , 1751px 1519px #FFF , 1626px 1730px #FFF , 676px 534px #FFF , 1752px 1367px #FFF , 899px 720px #FFF , 778px 937px #FFF , 1079px 1279px #FFF , 290px 433px #FFF , 94px 1060px #FFF , 546px 940px #FFF , 1778px 1713px #FFF , 647px 855px #FFF , 182px 393px #FFF , 680px 969px #FFF , 207px 1129px #FFF , 1706px 868px #FFF , 1657px 1127px #FFF , 522px 879px #FFF , 1026px 1459px #FFF , 1464px 1442px #FFF , 526px 1263px #FFF , 1531px 1154px #FFF , 31px 1481px #FFF , 249px 953px #FFF , 1436px 149px #FFF , 657px 843px #FFF , 607px 1968px #FFF , 490px 285px #FFF , 1204px 1964px #FFF , 1661px 1784px #FFF , 1247px 1153px #FFF , 1066px 763px #FFF , 1790px 886px #FFF , 1100px 713px #FFF , 1332px 181px #FFF , 1791px 411px #FFF , 1279px 277px #FFF , 655px 1345px #FFF , 347px 899px #FFF , 270px 69px #FFF , 453px 1904px #FFF , 253px 1227px #FFF , 31px 1541px #FFF , 834px 1070px #FFF , 1625px 1314px #FFF , 1126px 394px #FFF , 1324px 565px #FFF , 1765px 284px #FFF , 994px 251px #FFF , 652px 16px #FFF , 1596px 1123px #FFF , 461px 1927px #FFF , 77px 824px #FFF , 818px 1954px #FFF , 165px 706px #FFF , 1364px 1073px #FFF , 705px 908px #FFF , 1138px 866px #FFF , 379px 401px #FFF , 957px 338px #FFF , 1301px 1241px #FFF , 43px 1448px #FFF , 1822px 1248px #FFF , 224px 410px #FFF , 396px 1909px #FFF , 930px 1830px #FFF , 1642px 1091px #FFF , 120px 1329px #FFF , 167px 1311px #FFF , 890px 221px #FFF , 553px 1948px #FFF , 1402px 1400px #FFF , 1783px 1974px #FFF , 1775px 1881px #FFF , 941px 342px #FFF , 948px 1716px #FFF , 506px 917px #FFF , 208px 718px #FFF , 475px 1293px #FFF , 1418px 944px #FFF , 3px 742px #FFF , 1925px 442px #FFF , 957px 229px #FFF , 1838px 394px #FFF , 593px 220px #FFF , 126px 1958px #FFF , 608px 546px #FFF , 1395px 75px #FFF , 413px 169px #FFF , 12px 1268px #FFF , 282px 1080px #FFF , 1304px 1396px #FFF , 146px 262px #FFF , 262px 514px #FFF , 710px 1620px #FFF , 1278px 543px #FFF , 1535px 942px #FFF , 712px 1632px #FFF , 1115px 340px #FFF , 1963px 63px #FFF , 46px 1182px #FFF , 404px 1989px #FFF , 642px 687px #FFF , 63px 1696px #FFF , 440px 1795px #FFF , 1985px 379px #FFF , 88px 1930px #FFF , 311px 889px #FFF , 5px 647px #FFF , 992px 1599px #FFF , 1212px 642px #FFF , 1833px 1925px #FFF , 1461px 1298px #FFF , 1674px 578px #FFF , 776px 638px #FFF , 1524px 1560px #FFF , 1615px 1247px #FFF , 919px 911px #FFF , 1997px 1582px #FFF , 1007px 619px #FFF , 1218px 1222px #FFF , 1064px 966px #FFF , 1470px 1906px #FFF , 606px 152px #FFF , 166px 1217px #FFF , 706px 1723px #FFF , 1892px 1654px #FFF , 654px 12px #FFF , 987px 1610px #FFF , 607px 354px #FFF , 432px 642px #FFF , 677px 1100px #FFF , 1723px 578px #FFF , 187px 968px #FFF , 1653px 1692px #FFF , 1046px 1418px #FFF , 1936px 1307px #FFF , 179px 1732px #FFF , 927px 1556px #FFF , 869px 545px #FFF , 1501px 1139px #FFF , 1448px 101px #FFF , 1309px 534px #FFF , 1620px 861px #FFF , 29px 1388px #FFF , 1131px 670px #FFF , 142px 372px #FFF , 66px 1070px #FFF , 364px 360px #FFF , 1566px 387px #FFF , 2px 469px #FFF , 1192px 612px #FFF , 1475px 1926px #FFF , 1145px 1710px #FFF , 1709px 1696px #FFF , 1818px 1104px #FFF , 1392px 649px #FFF , 1989px 1115px #FFF , 1226px 576px #FFF , 29px 791px #FFF , 284px 883px #FFF , 1795px 586px #FFF , 778px 1509px #FFF , 769px 571px #FFF , 1969px 472px #FFF , 608px 1458px #FFF , 1352px 312px #FFF , 158px 1152px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 67px 473px #FFF , 1307px 551px #FFF , 513px 1862px #FFF , 1804px 533px #FFF , 638px 1809px #FFF , 1831px 1896px #FFF , 141px 1867px #FFF , 991px 110px #FFF , 1730px 1865px #FFF , 292px 618px #FFF , 363px 1421px #FFF , 1050px 837px #FFF , 83px 1201px #FFF , 1858px 1560px #FFF , 835px 214px #FFF , 684px 221px #FFF , 1956px 311px #FFF , 985px 1113px #FFF , 1934px 919px #FFF , 1546px 1053px #FFF , 1471px 394px #FFF , 934px 1619px #FFF , 134px 103px #FFF , 919px 548px #FFF , 1915px 1824px #FFF , 180px 1607px #FFF , 630px 191px #FFF , 1279px 154px #FFF , 1621px 426px #FFF , 356px 1449px #FFF , 1838px 359px #FFF , 876px 759px #FFF , 1683px 1700px #FFF , 1322px 484px #FFF , 642px 786px #FFF , 1031px 928px #FFF , 1706px 823px #FFF , 1143px 864px #FFF , 1801px 178px #FFF , 127px 607px #FFF , 1735px 1274px #FFF , 666px 1071px #FFF , 1794px 1489px #FFF , 554px 516px #FFF , 769px 1566px #FFF , 1197px 1556px #FFF , 1666px 375px #FFF , 734px 1498px #FFF , 441px 551px #FFF , 506px 311px #FFF , 1215px 1692px #FFF , 1536px 259px #FFF , 1282px 692px #FFF , 10px 643px #FFF , 1719px 1166px #FFF , 1985px 1747px #FFF , 1500px 61px #FFF , 1879px 996px #FFF , 1408px 691px #FFF , 1134px 1973px #FFF , 627px 1212px #FFF , 1757px 1492px #FFF , 1306px 848px #FFF , 723px 513px #FFF , 900px 855px #FFF , 1524px 817px #FFF , 77px 1860px #FFF , 1217px 303px #FFF , 1807px 492px #FFF , 1930px 1622px #FFF , 1314px 1636px #FFF , 1135px 158px #FFF , 1077px 818px #FFF , 474px 1443px #FFF , 85px 1470px #FFF , 1343px 1412px #FFF , 1396px 143px #FFF , 85px 1771px #FFF , 759px 211px #FFF , 948px 340px #FFF , 1618px 1000px #FFF , 954px 584px #FFF , 1263px 1539px #FFF , 962px 1458px #FFF , 1788px 925px #FFF , 1152px 93px #FFF , 393px 939px #FFF , 1711px 1620px #FFF , 1848px 822px #FFF , 1024px 1867px #FFF , 1437px 1034px #FFF , 245px 1369px #FFF , 1614px 1173px #FFF , 838px 507px #FFF , 1773px 1470px #FFF , 1762px 1339px #FFF , 1234px 912px #FFF , 371px 302px #FFF , 1926px 636px #FFF , 1442px 416px #FFF , 1302px 581px #FFF , 1324px 171px #FFF , 1335px 908px #FFF , 887px 1799px #FFF , 41px 60px #FFF , 1693px 1852px #FFF , 1172px 1882px #FFF , 198px 1317px #FFF , 478px 84px #FFF , 774px 481px #FFF , 275px 636px #FFF , 391px 1790px #FFF , 374px 659px #FFF , 1178px 1031px #FFF , 919px 270px #FFF , 81px 275px #FFF , 775px 1640px #FFF , 682px 733px #FFF , 623px 330px #FFF , 1299px 1893px #FFF , 587px 243px #FFF , 934px 1605px #FFF , 1414px 794px #FFF , 1883px 1434px #FFF , 22px 694px #FFF , 1263px 577px #FFF , 1989px 1771px #FFF , 448px 356px #FFF , 1268px 772px #FFF , 1752px 1904px #FFF , 71px 1259px #FFF , 280px 1212px #FFF , 433px 1754px #FFF , 803px 1732px #FFF , 1730px 136px #FFF , 1183px 854px #FFF , 406px 1899px #FFF , 1110px 37px #FFF , 795px 1989px #FFF , 913px 267px #FFF , 1479px 652px #FFF , 1105px 919px #FFF , 1211px 1875px #FFF , 1763px 458px #FFF , 1528px 38px #FFF , 59px 471px #FFF , 1904px 402px #FFF , 927px 545px #FFF , 388px 828px #FFF , 942px 1228px #FFF , 1995px 1422px #FFF , 769px 1525px #FFF , 1585px 1173px #FFF , 562px 1386px #FFF , 606px 705px #FFF , 1036px 1907px #FFF , 1123px 1404px #FFF , 944px 537px #FFF , 1003px 1423px #FFF , 291px 362px #FFF , 432px 626px #FFF , 1011px 1578px #FFF , 788px 1557px #FFF , 883px 1422px #FFF , 941px 1489px #FFF , 1796px 573px #FFF , 1086px 585px #FFF , 979px 1305px #FFF , 1670px 1710px #FFF , 407px 1797px #FFF , 602px 676px #FFF , 1847px 1802px #FFF , 12px 1280px #FFF , 1999px 1721px #FFF , 1626px 1903px #FFF , 954px 1194px #FFF , 914px 1285px #FFF , 1181px 1034px #FFF , 1406px 1450px #FFF , 1901px 745px #FFF , 1937px 1077px #FFF , 308px 822px #FFF , 1037px 805px #FFF , 1880px 816px #FFF , 1216px 1739px #FFF , 178px 1635px #FFF , 597px 777px #FFF , 1012px 241px #FFF , 505px 1288px #FFF , 143px 909px #FFF , 1719px 1480px #FFF , 1021px 657px #FFF , 1162px 1189px #FFF , 41px 1894px #FFF , 1764px 315px #FFF , 226px 1305px #FFF , 5px 1262px #FFF , 431px 483px #FFF , 971px 1086px #FFF , 1755px 308px #FFF , 387px 432px #FFF , 1544px 268px #FFF , 634px 1867px #FFF , 1406px 1571px #FFF , 56px 746px #FFF , 1998px 706px #FFF , 146px 22px #FFF , 173px 559px #FFF , 1875px 124px #FFF , 488px 762px #FFF , 903px 733px #FFF , 255px 1961px #FFF , 1622px 885px #FFF , 16px 547px #FFF , 127px 885px #FFF , 1697px 1424px #FFF , 1824px 394px #FFF , 402px 485px #FFF , 45px 1424px #FFF , 1528px 1698px #FFF , 1467px 776px #FFF , 796px 1909px #FFF , 363px 1733px #FFF , 1234px 1250px #FFF , 1205px 168px #FFF , 966px 1422px #FFF , 953px 802px #FFF , 1739px 84px #FFF , 1483px 553px #FFF , 76px 1169px #FFF , 759px 62px #FFF , 210px 773px #FFF , 1225px 1999px #FFF , 234px 911px #FFF , 1407px 1035px #FFF , 73px 50px #FFF , 991px 530px #FFF , 879px 35px #FFF , 283px 762px #FFF , 1797px 1745px #FFF , 1175px 1035px #FFF , 1981px 346px #FFF , 1px 236px #FFF , 95px 656px #FFF , 1211px 1588px #FFF , 178px 1597px #FFF , 89px 1851px #FFF , 1190px 1681px #FFF , 1177px 53px #FFF , 1386px 1858px #FFF , 952px 250px #FFF , 1917px 1770px #FFF , 569px 1575px #FFF , 1525px 1549px #FFF , 1252px 1851px #FFF , 282px 635px #FFF , 565px 198px #FFF , 277px 1819px #FFF , 1277px 1795px #FFF , 1262px 1902px #FFF , 132px 282px #FFF , 1279px 1297px #FFF , 1886px 1062px #FFF , 1634px 618px #FFF , 1819px 1659px #FFF , 1544px 1313px #FFF , 1018px 476px #FFF , 1520px 1427px #FFF , 1965px 1472px #FFF , 1922px 501px #FFF , 379px 1497px #FFF , 1462px 1301px #FFF , 421px 1560px #FFF , 69px 760px #FFF , 920px 379px #FFF , 1788px 1228px #FFF , 1355px 1317px #FFF , 1486px 1819px #FFF , 1680px 1632px #FFF , 1426px 962px #FFF , 1758px 44px #FFF , 1391px 360px #FFF , 237px 703px #FFF , 1912px 1174px #FFF , 940px 1464px #FFF , 1569px 1145px #FFF , 931px 793px #FFF , 37px 606px #FFF , 581px 116px #FFF , 144px 139px #FFF , 939px 904px #FFF , 1032px 629px #FFF , 227px 1587px #FFF , 1566px 1180px #FFF , 1565px 1553px #FFF , 979px 1402px #FFF , 1967px 631px #FFF , 773px 751px #FFF , 128px 1032px #FFF , 1436px 1399px #FFF , 596px 1521px #FFF , 1864px 929px #FFF , 1610px 1954px #FFF , 1557px 1246px #FFF , 890px 95px #FFF , 661px 387px #FFF , 1826px 1430px #FFF , 318px 1753px #FFF , 538px 752px #FFF , 233px 413px #FFF , 143px 1475px #FFF , 1813px 890px #FFF , 1154px 1028px #FFF , 10px 1793px #FFF , 1861px 1319px #FFF , 664px 499px #FFF , 1001px 299px #FFF , 314px 595px #FFF , 1311px 796px #FFF , 630px 1898px #FFF , 10px 1301px #FFF , 1521px 350px #FFF , 1559px 1770px #FFF , 522px 1176px #FFF , 846px 1250px #FFF , 398px 1018px #FFF , 1139px 775px #FFF , 6px 286px #FFF , 1623px 1053px #FFF , 1004px 543px #FFF , 1279px 986px #FFF , 1782px 279px #FFF , 137px 1302px #FFF , 312px 1464px #FFF , 517px 885px #FFF , 43px 1680px #FFF , 1044px 1017px #FFF , 869px 555px #FFF , 355px 419px #FFF , 1508px 1326px #FFF , 562px 1616px #FFF , 1520px 452px #FFF , 1748px 26px #FFF , 6px 570px #FFF , 1116px 1676px #FFF , 635px 1328px #FFF , 1639px 1465px #FFF , 1402px 841px #FFF , 208px 633px #FFF , 1600px 381px #FFF , 862px 663px #FFF , 199px 313px #FFF , 1252px 188px #FFF , 907px 1293px #FFF , 1510px 445px #FFF , 277px 921px #FFF , 1692px 109px #FFF , 1813px 1759px #FFF , 846px 29px #FFF , 163px 201px #FFF , 1266px 1459px #FFF , 329px 1388px #FFF , 321px 417px #FFF , 1585px 1119px #FFF , 1973px 977px #FFF , 1504px 6px #FFF , 869px 1848px #FFF , 1407px 570px #FFF , 1530px 1471px #FFF , 945px 209px #FFF , 335px 163px #FFF , 51px 1300px #FFF , 1085px 1207px #FFF , 905px 399px #FFF , 9px 378px #FFF , 1745px 1702px #FFF , 967px 1063px #FFF , 1590px 133px #FFF , 976px 1992px #FFF , 1152px 1805px #FFF , 299px 1501px #FFF , 72px 535px #FFF , 761px 1692px #FFF , 1182px 1982px #FFF , 1565px 187px #FFF , 1874px 1266px #FFF , 1501px 1703px #FFF , 1026px 1546px #FFF , 588px 1894px #FFF , 416px 1961px #FFF , 1589px 1045px #FFF , 697px 414px #FFF , 1328px 1533px #FFF , 1085px 342px #FFF , 1563px 682px #FFF , 1486px 1759px #FFF , 1265px 995px #FFF , 1613px 1035px #FFF , 588px 218px #FFF , 1890px 1115px #FFF , 406px 964px #FFF , 791px 1184px #FFF , 621px 55px #FFF , 490px 1243px #FFF , 1425px 706px #FFF , 1422px 1099px #FFF , 656px 1878px #FFF , 1417px 198px #FFF , 352px 1813px #FFF , 374px 411px #FFF , 1949px 1265px #FFF , 894px 695px #FFF , 20px 1109px #FFF , 1694px 1318px #FFF , 1909px 1964px #FFF , 1953px 569px #FFF , 574px 1713px #FFF , 1202px 128px #FFF , 1722px 219px #FFF , 126px 321px #FFF , 1291px 232px #FFF , 225px 1023px #FFF , 976px 190px #FFF , 1717px 8px #FFF , 1657px 628px #FFF , 1460px 1729px #FFF , 73px 220px #FFF , 1861px 67px #FFF , 290px 1511px #FFF , 1279px 834px #FFF , 580px 1529px #FFF , 527px 36px #FFF , 1013px 1275px #FFF , 1757px 1635px #FFF , 524px 1360px #FFF , 1807px 1005px #FFF , 329px 777px #FFF , 1882px 515px #FFF , 666px 40px #FFF , 1896px 1886px #FFF , 1328px 145px #FFF , 128px 910px #FFF , 1024px 1752px #FFF , 810px 171px #FFF , 434px 722px #FFF , 1998px 1116px #FFF , 673px 429px #FFF , 1704px 664px #FFF , 1388px 1995px #FFF , 1412px 909px #FFF , 1951px 1002px #FFF , 450px 194px #FFF , 897px 714px #FFF , 1527px 258px #FFF , 1499px 733px #FFF , 474px 664px #FFF , 929px 1540px #FFF , 1228px 1288px #FFF , 244px 683px #FFF , 1806px 1557px #FFF , 1860px 34px #FFF , 107px 1087px #FFF , 1957px 1692px #FFF , 1865px 1526px #FFF , 1423px 1803px #FFF , 857px 284px #FFF , 842px 1849px #FFF , 1302px 584px #FFF , 1350px 326px #FFF , 1855px 361px #FFF , 574px 1990px #FFF , 793px 422px #FFF , 1794px 1491px #FFF , 447px 165px #FFF , 661px 235px #FFF , 649px 292px #FFF , 1968px 250px #FFF , 1341px 1882px #FFF , 625px 1694px #FFF , 656px 821px #FFF , 601px 1317px #FFF , 1972px 1402px #FFF , 264px 778px #FFF , 1435px 572px #FFF , 7px 494px #FFF , 554px 891px #FFF , 1911px 1416px #FFF , 1573px 76px #FFF , 1635px 393px #FFF , 643px 393px #FFF , 102px 837px #FFF , 953px 1192px #FFF , 825px 239px #FFF , 1648px 1079px #FFF , 1074px 653px #FFF , 1754px 628px #FFF , 513px 1991px #FFF , 1690px 900px #FFF , 1711px 795px #FFF , 440px 290px #FFF , 1198px 1673px #FFF , 1169px 390px #FFF , 168px 1599px #FFF , 511px 306px #FFF , 1494px 1636px #FFF , 1321px 935px #FFF , 1769px 475px #FFF , 1948px 1205px #FFF , 1255px 1706px #FFF , 851px 1544px #FFF , 25px 1890px #FFF , 578px 883px #FFF , 452px 1609px #FFF , 866px 435px #FFF , 116px 1378px #FFF , 1569px 221px #FFF , 629px 141px #FFF , 666px 334px #FFF , 1339px 268px #FFF , 818px 318px #FFF , 1000px 1757px #FFF , 145px 320px #FFF , 888px 538px #FFF , 366px 1824px #FFF , 1724px 1880px #FFF , 1044px 1028px #FFF , 1407px 809px #FFF , 1061px 74px #FFF , 1779px 1845px #FFF , 1913px 1286px #FFF , 385px 1927px #FFF , 556px 74px #FFF , 1751px 1519px #FFF , 1626px 1730px #FFF , 676px 534px #FFF , 1752px 1367px #FFF , 899px 720px #FFF , 778px 937px #FFF , 1079px 1279px #FFF , 290px 433px #FFF , 94px 1060px #FFF , 546px 940px #FFF , 1778px 1713px #FFF , 647px 855px #FFF , 182px 393px #FFF , 680px 969px #FFF , 207px 1129px #FFF , 1706px 868px #FFF , 1657px 1127px #FFF , 522px 879px #FFF , 1026px 1459px #FFF , 1464px 1442px #FFF , 526px 1263px #FFF , 1531px 1154px #FFF , 31px 1481px #FFF , 249px 953px #FFF , 1436px 149px #FFF , 657px 843px #FFF , 607px 1968px #FFF , 490px 285px #FFF , 1204px 1964px #FFF , 1661px 1784px #FFF , 1247px 1153px #FFF , 1066px 763px #FFF , 1790px 886px #FFF , 1100px 713px #FFF , 1332px 181px #FFF , 1791px 411px #FFF , 1279px 277px #FFF , 655px 1345px #FFF , 347px 899px #FFF , 270px 69px #FFF , 453px 1904px #FFF , 253px 1227px #FFF , 31px 1541px #FFF , 834px 1070px #FFF , 1625px 1314px #FFF , 1126px 394px #FFF , 1324px 565px #FFF , 1765px 284px #FFF , 994px 251px #FFF , 652px 16px #FFF , 1596px 1123px #FFF , 461px 1927px #FFF , 77px 824px #FFF , 818px 1954px #FFF , 165px 706px #FFF , 1364px 1073px #FFF , 705px 908px #FFF , 1138px 866px #FFF , 379px 401px #FFF , 957px 338px #FFF , 1301px 1241px #FFF , 43px 1448px #FFF , 1822px 1248px #FFF , 224px 410px #FFF , 396px 1909px #FFF , 930px 1830px #FFF , 1642px 1091px #FFF , 120px 1329px #FFF , 167px 1311px #FFF , 890px 221px #FFF , 553px 1948px #FFF , 1402px 1400px #FFF , 1783px 1974px #FFF , 1775px 1881px #FFF , 941px 342px #FFF , 948px 1716px #FFF , 506px 917px #FFF , 208px 718px #FFF , 475px 1293px #FFF , 1418px 944px #FFF , 3px 742px #FFF , 1925px 442px #FFF , 957px 229px #FFF , 1838px 394px #FFF , 593px 220px #FFF , 126px 1958px #FFF , 608px 546px #FFF , 1395px 75px #FFF , 413px 169px #FFF , 12px 1268px #FFF , 282px 1080px #FFF , 1304px 1396px #FFF , 146px 262px #FFF , 262px 514px #FFF , 710px 1620px #FFF , 1278px 543px #FFF , 1535px 942px #FFF , 712px 1632px #FFF , 1115px 340px #FFF , 1963px 63px #FFF , 46px 1182px #FFF , 404px 1989px #FFF , 642px 687px #FFF , 63px 1696px #FFF , 440px 1795px #FFF , 1985px 379px #FFF , 88px 1930px #FFF , 311px 889px #FFF , 5px 647px #FFF , 992px 1599px #FFF , 1212px 642px #FFF , 1833px 1925px #FFF , 1461px 1298px #FFF , 1674px 578px #FFF , 776px 638px #FFF , 1524px 1560px #FFF , 1615px 1247px #FFF , 919px 911px #FFF , 1997px 1582px #FFF , 1007px 619px #FFF , 1218px 1222px #FFF , 1064px 966px #FFF , 1470px 1906px #FFF , 606px 152px #FFF , 166px 1217px #FFF , 706px 1723px #FFF , 1892px 1654px #FFF , 654px 12px #FFF , 987px 1610px #FFF , 607px 354px #FFF , 432px 642px #FFF , 677px 1100px #FFF , 1723px 578px #FFF , 187px 968px #FFF , 1653px 1692px #FFF , 1046px 1418px #FFF , 1936px 1307px #FFF , 179px 1732px #FFF , 927px 1556px #FFF , 869px 545px #FFF , 1501px 1139px #FFF , 1448px 101px #FFF , 1309px 534px #FFF , 1620px 861px #FFF , 29px 1388px #FFF , 1131px 670px #FFF , 142px 372px #FFF , 66px 1070px #FFF , 364px 360px #FFF , 1566px 387px #FFF , 2px 469px #FFF , 1192px 612px #FFF , 1475px 1926px #FFF , 1145px 1710px #FFF , 1709px 1696px #FFF , 1818px 1104px #FFF , 1392px 649px #FFF , 1989px 1115px #FFF , 1226px 576px #FFF , 29px 791px #FFF , 284px 883px #FFF , 1795px 586px #FFF , 778px 1509px #FFF , 769px 571px #FFF , 1969px 472px #FFF , 608px 1458px #FFF , 1352px 312px #FFF , 158px 1152px #FFF;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 846px 506px #FFF , 626px 1751px #FFF , 360px 22px #FFF , 1460px 1338px #FFF , 38px 633px #FFF , 733px 1156px #FFF , 511px 468px #FFF , 1229px 858px #FFF , 229px 1378px #FFF , 253px 1783px #FFF , 1364px 10px #FFF , 223px 1523px #FFF , 1733px 686px #FFF , 1595px 1582px #FFF , 1606px 1442px #FFF , 607px 815px #FFF , 880px 64px #FFF , 175px 1559px #FFF , 19px 301px #FFF , 985px 1251px #FFF , 1643px 1473px #FFF , 1573px 1636px #FFF , 1307px 788px #FFF , 689px 257px #FFF , 179px 1503px #FFF , 84px 1560px #FFF , 1276px 1039px #FFF , 912px 371px #FFF , 1698px 1756px #FFF , 1452px 553px #FFF , 34px 1006px #FFF , 1795px 179px #FFF , 1710px 637px #FFF , 1492px 1714px #FFF , 6px 641px #FFF , 1741px 1901px #FFF , 271px 191px #FFF , 694px 1107px #FFF , 1931px 117px #FFF , 901px 1847px #FFF , 448px 1458px #FFF , 108px 92px #FFF , 1756px 1199px #FFF , 1222px 1009px #FFF , 305px 1901px #FFF , 1604px 257px #FFF , 1913px 334px #FFF , 1991px 27px #FFF , 149px 152px #FFF , 1043px 316px #FFF , 1046px 1799px #FFF , 1354px 13px #FFF , 1538px 383px #FFF , 1360px 1467px #FFF , 202px 424px #FFF , 476px 220px #FFF , 1450px 543px #FFF , 1557px 418px #FFF , 288px 1040px #FFF , 1287px 1605px #FFF , 254px 180px #FFF , 1892px 1536px #FFF , 100px 142px #FFF , 1499px 1138px #FFF , 1629px 773px #FFF , 810px 1579px #FFF , 1762px 890px #FFF , 678px 567px #FFF , 1731px 289px #FFF , 5px 369px #FFF , 787px 621px #FFF , 1706px 374px #FFF , 1467px 1861px #FFF , 1425px 682px #FFF , 1512px 119px #FFF , 1243px 1374px #FFF , 1262px 1324px #FFF , 1123px 1541px #FFF , 1589px 963px #FFF , 1875px 1803px #FFF , 1353px 864px #FFF , 1642px 1035px #FFF , 953px 1922px #FFF , 884px 1406px #FFF , 1872px 1324px #FFF , 1821px 1110px #FFF , 574px 1804px #FFF , 1528px 1992px #FFF , 1161px 1834px #FFF , 591px 811px #FFF , 1848px 1233px #FFF , 542px 755px #FFF , 1688px 1837px #FFF , 330px 543px #FFF , 1482px 320px #FFF , 591px 550px #FFF , 836px 1168px #FFF , 326px 1152px #FFF , 1865px 514px #FFF , 1818px 958px #FFF , 819px 1167px #FFF , 1767px 1566px #FFF , 467px 149px #FFF , 1007px 704px #FFF , 1225px 1888px #FFF , 1486px 1056px #FFF , 183px 1716px #FFF , 606px 698px #FFF , 682px 523px #FFF , 1821px 865px #FFF , 233px 1663px #FFF , 1863px 1018px #FFF , 675px 431px #FFF , 1585px 1946px #FFF , 28px 877px #FFF , 1828px 1182px #FFF , 1171px 1609px #FFF , 1075px 882px #FFF , 1717px 175px #FFF , 1400px 1745px #FFF , 1390px 481px #FFF , 1159px 1025px #FFF , 1872px 236px #FFF , 1823px 665px #FFF , 815px 1879px #FFF , 1295px 351px #FFF , 1896px 1008px #FFF , 1358px 1920px #FFF , 1679px 1469px #FFF , 1213px 180px #FFF , 1663px 1790px #FFF , 671px 1951px #FFF , 479px 1426px #FFF , 222px 1774px #FFF , 733px 882px #FFF , 237px 631px #FFF , 1497px 700px #FFF , 1024px 1323px #FFF , 1799px 76px #FFF , 8px 202px #FFF , 1360px 1161px #FFF , 284px 1838px #FFF , 1230px 1383px #FFF , 1428px 1480px #FFF , 1300px 1409px #FFF , 126px 1339px #FFF , 869px 230px #FFF , 731px 1596px #FFF , 227px 854px #FFF , 1289px 405px #FFF , 69px 120px #FFF , 19px 490px #FFF , 1627px 1282px #FFF , 438px 467px #FFF , 119px 133px #FFF , 873px 570px #FFF , 1848px 1328px #FFF , 1899px 651px #FFF , 628px 1657px #FFF , 854px 737px #FFF , 1469px 403px #FFF , 589px 969px #FFF , 1773px 1585px #FFF , 746px 12px #FFF , 1668px 1927px #FFF , 342px 751px #FFF , 1945px 750px #FFF , 229px 1761px #FFF , 1625px 1865px #FFF , 902px 1374px #FFF , 1019px 468px #FFF , 959px 1238px #FFF , 7px 10px #FFF , 327px 1007px #FFF , 1219px 423px #FFF , 7px 1995px #FFF , 1509px 1524px #FFF , 98px 1427px #FFF , 838px 838px #FFF , 1672px 1248px #FFF , 1591px 635px #FFF , 705px 253px #FFF , 999px 654px #FFF , 318px 36px #FFF , 1990px 170px #FFF , 202px 1286px #FFF , 894px 1449px #FFF , 192px 614px #FFF , 438px 928px #FFF , 1670px 823px #FFF , 1423px 1444px #FFF , 1449px 627px #FFF , 183px 1660px #FFF , 1145px 529px #FFF , 569px 1652px #FFF , 469px 1611px #FFF , 1765px 106px #FFF , 1138px 950px #FFF , 1593px 944px #FFF , 690px 1748px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 846px 506px #FFF , 626px 1751px #FFF , 360px 22px #FFF , 1460px 1338px #FFF , 38px 633px #FFF , 733px 1156px #FFF , 511px 468px #FFF , 1229px 858px #FFF , 229px 1378px #FFF , 253px 1783px #FFF , 1364px 10px #FFF , 223px 1523px #FFF , 1733px 686px #FFF , 1595px 1582px #FFF , 1606px 1442px #FFF , 607px 815px #FFF , 880px 64px #FFF , 175px 1559px #FFF , 19px 301px #FFF , 985px 1251px #FFF , 1643px 1473px #FFF , 1573px 1636px #FFF , 1307px 788px #FFF , 689px 257px #FFF , 179px 1503px #FFF , 84px 1560px #FFF , 1276px 1039px #FFF , 912px 371px #FFF , 1698px 1756px #FFF , 1452px 553px #FFF , 34px 1006px #FFF , 1795px 179px #FFF , 1710px 637px #FFF , 1492px 1714px #FFF , 6px 641px #FFF , 1741px 1901px #FFF , 271px 191px #FFF , 694px 1107px #FFF , 1931px 117px #FFF , 901px 1847px #FFF , 448px 1458px #FFF , 108px 92px #FFF , 1756px 1199px #FFF , 1222px 1009px #FFF , 305px 1901px #FFF , 1604px 257px #FFF , 1913px 334px #FFF , 1991px 27px #FFF , 149px 152px #FFF , 1043px 316px #FFF , 1046px 1799px #FFF , 1354px 13px #FFF , 1538px 383px #FFF , 1360px 1467px #FFF , 202px 424px #FFF , 476px 220px #FFF , 1450px 543px #FFF , 1557px 418px #FFF , 288px 1040px #FFF , 1287px 1605px #FFF , 254px 180px #FFF , 1892px 1536px #FFF , 100px 142px #FFF , 1499px 1138px #FFF , 1629px 773px #FFF , 810px 1579px #FFF , 1762px 890px #FFF , 678px 567px #FFF , 1731px 289px #FFF , 5px 369px #FFF , 787px 621px #FFF , 1706px 374px #FFF , 1467px 1861px #FFF , 1425px 682px #FFF , 1512px 119px #FFF , 1243px 1374px #FFF , 1262px 1324px #FFF , 1123px 1541px #FFF , 1589px 963px #FFF , 1875px 1803px #FFF , 1353px 864px #FFF , 1642px 1035px #FFF , 953px 1922px #FFF , 884px 1406px #FFF , 1872px 1324px #FFF , 1821px 1110px #FFF , 574px 1804px #FFF , 1528px 1992px #FFF , 1161px 1834px #FFF , 591px 811px #FFF , 1848px 1233px #FFF , 542px 755px #FFF , 1688px 1837px #FFF , 330px 543px #FFF , 1482px 320px #FFF , 591px 550px #FFF , 836px 1168px #FFF , 326px 1152px #FFF , 1865px 514px #FFF , 1818px 958px #FFF , 819px 1167px #FFF , 1767px 1566px #FFF , 467px 149px #FFF , 1007px 704px #FFF , 1225px 1888px #FFF , 1486px 1056px #FFF , 183px 1716px #FFF , 606px 698px #FFF , 682px 523px #FFF , 1821px 865px #FFF , 233px 1663px #FFF , 1863px 1018px #FFF , 675px 431px #FFF , 1585px 1946px #FFF , 28px 877px #FFF , 1828px 1182px #FFF , 1171px 1609px #FFF , 1075px 882px #FFF , 1717px 175px #FFF , 1400px 1745px #FFF , 1390px 481px #FFF , 1159px 1025px #FFF , 1872px 236px #FFF , 1823px 665px #FFF , 815px 1879px #FFF , 1295px 351px #FFF , 1896px 1008px #FFF , 1358px 1920px #FFF , 1679px 1469px #FFF , 1213px 180px #FFF , 1663px 1790px #FFF , 671px 1951px #FFF , 479px 1426px #FFF , 222px 1774px #FFF , 733px 882px #FFF , 237px 631px #FFF , 1497px 700px #FFF , 1024px 1323px #FFF , 1799px 76px #FFF , 8px 202px #FFF , 1360px 1161px #FFF , 284px 1838px #FFF , 1230px 1383px #FFF , 1428px 1480px #FFF , 1300px 1409px #FFF , 126px 1339px #FFF , 869px 230px #FFF , 731px 1596px #FFF , 227px 854px #FFF , 1289px 405px #FFF , 69px 120px #FFF , 19px 490px #FFF , 1627px 1282px #FFF , 438px 467px #FFF , 119px 133px #FFF , 873px 570px #FFF , 1848px 1328px #FFF , 1899px 651px #FFF , 628px 1657px #FFF , 854px 737px #FFF , 1469px 403px #FFF , 589px 969px #FFF , 1773px 1585px #FFF , 746px 12px #FFF , 1668px 1927px #FFF , 342px 751px #FFF , 1945px 750px #FFF , 229px 1761px #FFF , 1625px 1865px #FFF , 902px 1374px #FFF , 1019px 468px #FFF , 959px 1238px #FFF , 7px 10px #FFF , 327px 1007px #FFF , 1219px 423px #FFF , 7px 1995px #FFF , 1509px 1524px #FFF , 98px 1427px #FFF , 838px 838px #FFF , 1672px 1248px #FFF , 1591px 635px #FFF , 705px 253px #FFF , 999px 654px #FFF , 318px 36px #FFF , 1990px 170px #FFF , 202px 1286px #FFF , 894px 1449px #FFF , 192px 614px #FFF , 438px 928px #FFF , 1670px 823px #FFF , 1423px 1444px #FFF , 1449px 627px #FFF , 183px 1660px #FFF , 1145px 529px #FFF , 569px 1652px #FFF , 469px 1611px #FFF , 1765px 106px #FFF , 1138px 950px #FFF , 1593px 944px #FFF , 690px 1748px #FFF;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1265px 1165px #FFF , 1058px 1661px #FFF , 769px 343px #FFF , 1315px 844px #FFF , 1721px 540px #FFF , 1468px 461px #FFF , 230px 1698px #FFF , 1639px 1660px #FFF , 297px 985px #FFF , 352px 1083px #FFF , 128px 324px #FFF , 1239px 1004px #FFF , 1564px 1765px #FFF , 418px 1203px #FFF , 1534px 706px #FFF , 1831px 110px #FFF , 1371px 1213px #FFF , 411px 1369px #FFF , 1688px 1097px #FFF , 1441px 289px #FFF , 1636px 1520px #FFF , 126px 1080px #FFF , 1685px 934px #FFF , 457px 1340px #FFF , 1198px 1325px #FFF , 1681px 555px #FFF , 714px 639px #FFF , 739px 1051px #FFF , 911px 1603px #FFF , 45px 1370px #FFF , 621px 1997px #FFF , 672px 918px #FFF , 889px 979px #FFF , 1369px 559px #FFF , 373px 148px #FFF , 585px 1563px #FFF , 1902px 1350px #FFF , 1388px 766px #FFF , 1315px 1239px #FFF , 174px 1926px #FFF , 1504px 1294px #FFF , 969px 1743px #FFF , 517px 625px #FFF , 45px 840px #FFF , 825px 751px #FFF , 379px 1497px #FFF , 1505px 213px #FFF , 1582px 571px #FFF , 474px 1786px #FFF , 441px 1110px #FFF , 1783px 101px #FFF , 1312px 1087px #FFF , 1120px 984px #FFF , 83px 1579px #FFF , 1545px 620px #FFF , 861px 1418px #FFF , 1639px 315px #FFF , 24px 576px #FFF , 533px 891px #FFF , 454px 1589px #FFF , 492px 817px #FFF , 180px 1772px #FFF , 250px 1002px #FFF , 171px 1075px #FFF , 1158px 1913px #FFF , 1127px 127px #FFF , 452px 579px #FFF , 1273px 1546px #FFF , 253px 1430px #FFF , 867px 308px #FFF , 271px 239px #FFF , 1582px 544px #FFF , 1324px 980px #FFF , 1024px 1732px #FFF , 1467px 226px #FFF , 1813px 436px #FFF , 879px 1596px #FFF , 1201px 961px #FFF , 4px 511px #FFF , 2000px 7px #FFF , 1601px 230px #FFF , 740px 1717px #FFF , 433px 1327px #FFF , 1860px 616px #FFF , 706px 54px #FFF , 947px 1001px #FFF , 68px 1635px #FFF , 1623px 189px #FFF , 695px 1564px #FFF , 283px 1375px #FFF , 825px 1174px #FFF , 1967px 900px #FFF , 1487px 1036px #FFF , 1297px 1312px #FFF , 1553px 1824px #FFF , 615px 1030px #FFF , 115px 1348px #FFF , 1910px 1488px #FFF , 701px 102px #FFF , 1453px 1040px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1265px 1165px #FFF , 1058px 1661px #FFF , 769px 343px #FFF , 1315px 844px #FFF , 1721px 540px #FFF , 1468px 461px #FFF , 230px 1698px #FFF , 1639px 1660px #FFF , 297px 985px #FFF , 352px 1083px #FFF , 128px 324px #FFF , 1239px 1004px #FFF , 1564px 1765px #FFF , 418px 1203px #FFF , 1534px 706px #FFF , 1831px 110px #FFF , 1371px 1213px #FFF , 411px 1369px #FFF , 1688px 1097px #FFF , 1441px 289px #FFF , 1636px 1520px #FFF , 126px 1080px #FFF , 1685px 934px #FFF , 457px 1340px #FFF , 1198px 1325px #FFF , 1681px 555px #FFF , 714px 639px #FFF , 739px 1051px #FFF , 911px 1603px #FFF , 45px 1370px #FFF , 621px 1997px #FFF , 672px 918px #FFF , 889px 979px #FFF , 1369px 559px #FFF , 373px 148px #FFF , 585px 1563px #FFF , 1902px 1350px #FFF , 1388px 766px #FFF , 1315px 1239px #FFF , 174px 1926px #FFF , 1504px 1294px #FFF , 969px 1743px #FFF , 517px 625px #FFF , 45px 840px #FFF , 825px 751px #FFF , 379px 1497px #FFF , 1505px 213px #FFF , 1582px 571px #FFF , 474px 1786px #FFF , 441px 1110px #FFF , 1783px 101px #FFF , 1312px 1087px #FFF , 1120px 984px #FFF , 83px 1579px #FFF , 1545px 620px #FFF , 861px 1418px #FFF , 1639px 315px #FFF , 24px 576px #FFF , 533px 891px #FFF , 454px 1589px #FFF , 492px 817px #FFF , 180px 1772px #FFF , 250px 1002px #FFF , 171px 1075px #FFF , 1158px 1913px #FFF , 1127px 127px #FFF , 452px 579px #FFF , 1273px 1546px #FFF , 253px 1430px #FFF , 867px 308px #FFF , 271px 239px #FFF , 1582px 544px #FFF , 1324px 980px #FFF , 1024px 1732px #FFF , 1467px 226px #FFF , 1813px 436px #FFF , 879px 1596px #FFF , 1201px 961px #FFF , 4px 511px #FFF , 2000px 7px #FFF , 1601px 230px #FFF , 740px 1717px #FFF , 433px 1327px #FFF , 1860px 616px #FFF , 706px 54px #FFF , 947px 1001px #FFF , 68px 1635px #FFF , 1623px 189px #FFF , 695px 1564px #FFF , 283px 1375px #FFF , 825px 1174px #FFF , 1967px 900px #FFF , 1487px 1036px #FFF , 1297px 1312px #FFF , 1553px 1824px #FFF , 615px 1030px #FFF , 115px 1348px #FFF , 1910px 1488px #FFF , 701px 102px #FFF , 1453px 1040px #FFF;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

#company .container {
  position: relative;
}
#company .content, 
#culture .content,
#join .content {
  margin: 0 auto;
  position: relative;
  width: calc(100vw/2);
}
#culture {
  background: url(../images/culture.jpg) center no-repeat;
  background-size: cover;
}
#join {
  background-color: #3399CC;
}
#join .container {
  padding: 80px 0 60px 0;
}
#join .container h3 {
  margin-bottom: 40px;
}
#join .container h4 {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 20px;
}

.parallax {
  background-attachment: fixed !important;
}

footer {
  color: #9E9E9E;
  font-size: 16px;
  background-color: #000000;
  padding: 30px;
}
footer p {
  margin: 0;
}
footer a {
  color: var(--first-text-color);
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1024px) { /* Tablets and less */
  h2 {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 600px) { /* Breakpoint/Mobile */
  html {
    scroll-padding-top: 75px;
  }
  header h1 {
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 40px;
  }
  p {
    font-size: 16px;
  }
  nav {
    padding: 0px;
  }
  nav .logo {
    width: 130px;
    margin-left: 20px;
  }
  label {
    display: block;
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
  label #hamburg {
    display: block;
  }
  label #close {
    display: none;
  }
  nav ul {
    background-color: var(--main-bg-color);
    width: 100%;
  }
  nav ul li {
    display: none;
    text-align: center;
    margin: 40px 0px;
    width: 100%;
  }
  nav ul li a {
    display: none;
    margin: 0;
  }
  #toggle:checked ~ ul li, #toggle:checked ~ ul li a {
    display: block; 
  }
  #toggle:checked ~ label #hamburg {
    display: none;
  }
  #toggle:checked ~ label #close {
    display: block;
  }
  #toggle:checked ~ #header-mobbar {
    height: 75px;
    display: block;
  }
  .hero-text li {
    font-size: 1.3em;
  }
  #nav-bg {
    height: 75px;
  }
  .scroll-downs {
    position: absolute !important;
  }
  #company,
  #culture {
    height: calc(100vh - 75px);
  }
  #company .content, 
  #culture .content,
  #join .content {
  width: calc(100vw - 25vw);
  }
  #join .container {
    padding: 40px 16px;
  }
  #join h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 370px) { /* SMALL mobile */
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 24px;
  }
  a.button {
    margin-top: 0px;
  }
  .phrase {
    font-size: 16px;
  }
  #intro p {
    font-size: 24px;
  }
  #join .container {
    padding: 20px 16px !important;
  }
  #join .container h3 {
    margin-top: 16px;
    margin-bottom: 32px;
  }
  #join .container h4 {
    padding: 8px;
    font-size: 16px;
  }
  .join-button {
    margin-top: 30px !important;
  }
}
